<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap" rel="stylesheet">


<mat-card class="perfil-card">
    <mat-card-header>
        <div mat-card-avatar class="avatar-image"></div>
        <mat-card-subtitle class="title">Daniel Mendes</mat-card-subtitle>
        <mat-card-subtitle class="title">@danielmendesfeels</mat-card-subtitle>

    </mat-card-header>

    <mat-card-actions class="actions">
        <button mat-button class="action">Posts</button>
        <button mat-button class="action">Followers</button>
        <button mat-button class="action">Following</button>
    </mat-card-actions>
</mat-card>

<mat-card class="notifications-card">
    <mat-card-header class="header-notifications">
        <mat-card-title class="title-notifications" >notifications</mat-card-title>
    </mat-card-header>

    <mat-card-content class="post">
        <mat-card-header>
            <mat-card-title>New comment</mat-card-title>
            <mat-card-subtitle>02/02/2023</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>someone just commented on your post!</p>
        </mat-card-content>
    </mat-card-content>
</mat-card>
