<section class="modal">
  <h1 mat-dialog-title>Settings</h1>
  <div mat-dialog-content>
    <p>Edit your profile informations below:</p>

    <form>
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput [(ngModel)]="usuarioEditado.nickname" name="nickname">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="usuarioEditado.senha" type="password" name="senha">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuarioEditado.nome" name="nome">
      </mat-form-field>
      <br>
      <button mat-raised-button mat-dialog-close color="primary" (click)="editar()">save changes</button>
    </form>
    <br>
      <button mat-raised-button mat-dialog-close color="warn" (click)="remover()">delete account</button>
  </div>
</section>
