<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600&display=swap" rel="stylesheet">


<mat-card class="perfil-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="avatarImg" src="{{currentUserSubject?.avatar}}" alt="">
    </div>
    <mat-card-subtitle class="title">{{currentUserSubject?.nome}}</mat-card-subtitle>
    <mat-card-subtitle class="title">@{{currentUserSubject?.nickname}}</mat-card-subtitle>

  </mat-card-header>

  <mat-card-actions class="actions">
    <!--<button mat-button class="action">Posts:  {{currentUserSubject?.postagens?.length}}</button>-->
  </mat-card-actions>
</mat-card>
