<mat-card class="rounded-card">
    <mat-card-content>
        <mat-form-field class="textarea">
            <textarea  matInput placeholder="Write your thoughts in here!"></textarea>
        </mat-form-field>
        <mat-chip-listbox aria-label="publico/restrito/só para mim">
            <mat-chip-option>público</mat-chip-option>
            <mat-chip-option>restrito</mat-chip-option>
            <mat-chip-option color="primary" selected>só para mim</mat-chip-option>
            <button class="btn" mat-raised-button color="primary">Publish</button>
        </mat-chip-listbox>

    </mat-card-content>
</mat-card>

<mat-card class="posts">

    <mat-card-content class="post">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Daniel Mendes</mat-card-title>
            <mat-card-subtitle>@danielmendesfeels</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Today, I had the most wonderful day at the park. The sun was shining, the birds were singing, and the whole world seemed to be full of life. I took a long walk through the green meadows, feeling the soft grass beneath my feet and the gentle breeze on my face.
                I found a quiet spot under a tree and sat down to read my favorite book. The words on the pages seemed to come to life as I lost myself in the story. It was a perfect escape from the hustle and bustle of everyday life.
                As I looked around, I couldn't help but notice the children playing on the swings and the laughter that filled the air. It reminded me of the simple joys of life and the importance of taking a moment to appreciate them.
                I ended the day with a picnic, enjoying sandwiches and fresh fruit. The sun began to set, casting a warm, golden glow over everything. It was a day filled with peace, happiness, and a deep sense of gratitude.
                I'm grateful for days like these when I can slow down and connect with the beauty of the world around me. It's a reminder that life is full of moments worth savoring, and I'm excited to see what other adventures await in my journal.
                #Nature #PeacefulDay #Gratitude
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="btn-comment" mat-button>leave it a comment</button>
        </mat-card-actions>
    </mat-card-content>


    <mat-card-content class="post">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Daniel Mendes</mat-card-title>
            <mat-card-subtitle>@danielmendesfeels</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Today, I had the most wonderful day at the park. The sun was shining, the birds were singing, and the whole world seemed to be full of life. I took a long walk through the green meadows, feeling the soft grass beneath my feet and the gentle breeze on my face.
                I found a quiet spot under a tree and sat down to read my favorite book. The words on the pages seemed to come to life as I lost myself in the story. It was a perfect escape from the hustle and bustle of everyday life.
                As I looked around, I couldn't help but notice the children playing on the swings and the laughter that filled the air. It reminded me of the simple joys of life and the importance of taking a moment to appreciate them.
                I ended the day with a picnic, enjoying sandwiches and fresh fruit. The sun began to set, casting a warm, golden glow over everything. It was a day filled with peace, happiness, and a deep sense of gratitude.
                I'm grateful for days like these when I can slow down and connect with the beauty of the world around me. It's a reminder that life is full of moments worth savoring, and I'm excited to see what other adventures await in my journal.
                #Nature #PeacefulDay #Gratitude
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>leave a comment</button>
        </mat-card-actions>
    </mat-card-content>


    <mat-card-content class="post">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Daniel Mendes</mat-card-title>
            <mat-card-subtitle>@danielmendesfeels</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Today, I had the most wonderful day at the park. The sun was shining, the birds were singing, and the whole world seemed to be full of life. I took a long walk through the green meadows, feeling the soft grass beneath my feet and the gentle breeze on my face.
                I found a quiet spot under a tree and sat down to read my favorite book. The words on the pages seemed to come to life as I lost myself in the story. It was a perfect escape from the hustle and bustle of everyday life.
                As I looked around, I couldn't help but notice the children playing on the swings and the laughter that filled the air. It reminded me of the simple joys of life and the importance of taking a moment to appreciate them.
                I ended the day with a picnic, enjoying sandwiches and fresh fruit. The sun began to set, casting a warm, golden glow over everything. It was a day filled with peace, happiness, and a deep sense of gratitude.
                I'm grateful for days like these when I can slow down and connect with the beauty of the world around me. It's a reminder that life is full of moments worth savoring, and I'm excited to see what other adventures await in my journal.
                #Nature #PeacefulDay #Gratitude
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>leave a comment</button>
        </mat-card-actions>
    </mat-card-content>


    <mat-card-content class="post">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Daniel Mendes</mat-card-title>
            <mat-card-subtitle>@danielmendesfeels</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Today, I had the most wonderful day at the park. The sun was shining, the birds were singing, and the whole world seemed to be full of life. I took a long walk through the green meadows, feeling the soft grass beneath my feet and the gentle breeze on my face.
                I found a quiet spot under a tree and sat down to read my favorite book. The words on the pages seemed to come to life as I lost myself in the story. It was a perfect escape from the hustle and bustle of everyday life.
                As I looked around, I couldn't help but notice the children playing on the swings and the laughter that filled the air. It reminded me of the simple joys of life and the importance of taking a moment to appreciate them.
                I ended the day with a picnic, enjoying sandwiches and fresh fruit. The sun began to set, casting a warm, golden glow over everything. It was a day filled with peace, happiness, and a deep sense of gratitude.
                I'm grateful for days like these when I can slow down and connect with the beauty of the world around me. It's a reminder that life is full of moments worth savoring, and I'm excited to see what other adventures await in my journal.
                #Nature #PeacefulDay #Gratitude
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>leave a comment</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
