<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container">
  <app-menu-feed class="item-1"></app-menu-feed>
  <app-main-feed class="item-2"></app-main-feed>
  <app-perfil-feed class="item-3"></app-perfil-feed>
</div>
