.rounded-card {
  border-radius: 20px;
  background-color: snow;
}

.btn {
  margin-left: 330px;
  border-radius: 30px;
}

.textarea {
  display: flex;
  justify-content: center;
  width: 710px;
}

.posts{
  margin-top: 20px;
  border-radius: 20px;
  background-color: snow;
}

.header-image {
  background-image: url('https://img.freepik.com/free-photo/portrait-serious-confident-male-office-worker-spectacles-formal-shirt-with-dark-skin-poses-spacious-cabinet_273609-3441.jpg?w=1060&t=st=1699251537~exp=1699252137~hmac=2f116f6f15761858c1749deaa33df49fd3e187ff12fe5fe7bf6a91e5e125d19d');
  background-size: cover;
}
.post{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.btn-comment {

}
