.rounded-card {
  border-radius: 20px;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

mat-chip-option {
  background-color: #edcf18 !important;
}

.btn {
  margin-left: 14rem;
  padding: 1.3rem;
  width: 250px;
  border-radius: 30px;
  background-color: #edcf18 !important;
  color: black !important;
}

.textarea {
  width: 800px;
  height: 150px;
}

.posts {
  margin-top: 20px;
  border-radius: 20px;
  background-color: snow;
}

.header-image {
  background-size: cover;
}

.post {
  margin: 0 10px 20px;
}
