.rounded-card {
  border-radius: 20px;
  background-color: snow;
  display: flex;
  justify-content: center;
  align-items: center; /* Added align-items for vertical centering */
  height: 30vh;
}

mat-chip-option {
  background-color: #edcf18 !important;
}

.btn {
  margin-left: 18rem;
  padding: 1.3rem;
  width: 250px;
  border-radius: 30px;
  background-color: #edcf18 !important;
  color: black !important;
}

.textarea {
  width: 800px;
  height: 150px;
}

.posts {
  margin-top: 20px;
  border-radius: 20px;
  background-color: snow;
}

.header-image {
  background-image: url('https://img.freepik.com/free-photo/portrait-serious-confident-male-office-worker-spectacles-formal-shirt-with-dark-skin-poses-spacious-cabinet_273609-3441.jpg?w=1060&t=st=1699251537~exp=1699252137~hmac=2f116f6f15761858c1749deaa33df49fd3e187ff12fe5fe7bf6a91e5e125d19d');
  background-size: cover;
}

.post {
  margin: 0 10px 20px;
}
