img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

mat-card-header {
  margin-left: 1rem;
  padding: 3rem;
}

mat-card-title {
  margin-left: 3.5rem;
  margin-top: 1rem;
}

mat-card-subtitle {
  margin-left: 3.5rem;
}
