<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Satisfy&display=swap" rel="stylesheet">

<div class="landing-page">
  <header>
    <div class="left">
      <p class="logo">Journal</p>
    </div>
    <div class="right">
      <p>About us</p>
      <p>Contact</p>
      <p>Terms of use</p>
    </div>
  </header>

  <main>
    <h1>Journal</h1>
    <h3>A catchy sloggan of about ten words long.</h3>
    <button>Get started</button>
  </main>

  <footer>
    <p>Developed by: <a href="https://github.com/GeorgeLimaDev" target="_blank">@GeorgeLimaDev</a> && <a href="https://github.com/oliviaoliva" target="_blank">@OliviaOliva</a></p>
  </footer>
</div>
