.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: calc(100% - 20px);

}

.item-1{
  width: 15%;
  height: 100%;
}

.item-2{
  width: 60%;
  height: 100%;
}

.item-3{
  width: 20%;
  height: 100%;
}

