<h2 mat-dialog-title>Hop in to Journal!</h2>
<mat-dialog-content class="mat-typography">
  <div class="left">
    <app-mantem-usuario></app-mantem-usuario> <!--Utilizando o componente para cadastro de usuario dentro do mat-form-->
  </div>
  <div class="right">
    <h3>Already have an account? Log in to it.</h3>
    <form>
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput name="loginNickname" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="loginPassword" required>
      </mat-form-field>
      <br>
      <button type="submit">Login</button>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
</mat-dialog-actions>
