<mat-card class="posts">

  <mat-card-content class="post" *ngFor="let postagem of postagens">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img class="avatarImg" src="{{postagem.autor.avatar}}" alt="">
      </div>
      <mat-card-title>{{postagem.autor}}</mat-card-title>
      <mat-card-subtitle>@{{postagem.autor.nickname}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{postagem.conteudo}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn-comment" mat-button>Leave it a comment</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
