<section class="menu">
<div class="header">
    <h1 class=" menu title">Menu</h1>
</div>
<mat-list role="list">
   <mat-action-list>
    <button mat-list-item >Feed</button>
    <button mat-list-item >Profile</button>
    <button mat-list-item >Settings</button>
    <button mat-list-item >Logout</button>
   </mat-action-list>
</mat-list>

<footer>
    <p>Developed by: <a href="https://github.com/GeorgeLimaDev" target="_blank">@GeorgeLimaDev</a> && <a href="https://github.com/oliviaoliva" target="_blank">@OliviaOliva</a></p>
    <a href="https://github.com/GeorgeLimaDev/Journal-AngularApp" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
</footer>
</section>


