<mat-card class="notifications-card">
  <mat-card-header class="header-notifications">
    <mat-card-title class="title-notifications" >notifications</mat-card-title>
  </mat-card-header>

  <mat-card-content class="post">
    <mat-card-header>
      <mat-card-title>New comment</mat-card-title>
      <mat-card-subtitle>02/02/2023</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>someone just commented on your post!</p>
    </mat-card-content>
  </mat-card-content>
</mat-card>
