.avatar-image{
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-top: 0.5rem;
}

.avatarImg {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  margin-top: 0.5rem;
}

mat-card-title {
  margin-left: 5rem;
}

mat-card-subtitle {
  margin-top: 0.5rem;
  margin-left: 5rem;
}

.posts {
  margin-top: 20px;
  border-radius: 20px;
  background-color: snow;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
}

.post {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

p {
  margin-left: 8.5rem;
  margin-top: 1rem;
  text-align: justify;
}

button {
  margin-left: 8.5rem;
  background-color: #edcf18;
}

