<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=Satisfy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="landing-page">
  <header>
    <div class="left">
      <p class="logo"><span>J</span></p>
      <p class="appName">Journal</p>
    </div>
    <div class="right">
      <p>About us</p>
      <p>Contact</p>
      <p>Terms of use</p>
    </div>
  </header>

  <main>
    <h1>Journal</h1>
    <h3>Share your story. Connect your world: <span class="sloggan">Your life, Your Journal.</span></h3>
    <button mat-button (click)="openDialog()">Get started</button>
  </main>

  <footer>
    <p>Developed by: <a href="https://github.com/GeorgeLimaDev" target="_blank">@GeorgeLimaDev</a> && <a href="https://github.com/oliviaoliva" target="_blank">@OliviaOliva</a></p>
    <a href="https://github.com/GeorgeLimaDev/Journal-AngularApp" target="_blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </footer>
</div>

