<mat-dialog-content class="mat-typography">
    <h3>Fill this form to create an account</h3>
    <form>
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput [(ngModel)]="usuario.nickname" name="nickname">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [(ngModel)]="usuario.senha" type="password" name="senha">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="usuario.nome" name="nome">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="usuario.email" name="email">
      </mat-form-field>
      <br>
      <button (click)="addUsuario()">Create account</button>
    </form>
</mat-dialog-content>
<!--<mat-dialog-actions align="end">
</mat-dialog-actions>-->
